Repository zuccazuca/dango: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, eslint --cache --cache-location .next/cache/eslint/ --fix, sort-package-json

.lintstagedrc:

{
  "src/**/*.ts": [
    "eslint --fix --quiet"
  ],
  "src/**/*.tsx": [
    "eslint --cache --cache-location .next/cache/eslint/ --fix"
  ],
  "package.json": "sort-package-json"
}

sample done
  .idea/saveactions_settings.xml
  src/components/Button.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  tsconfig.json
Due: eslint --cache --cache-location .next/cache/eslint/ --fix

eslint installed
  .eslintrc
  .lintstagedrc
  .lintstagedrc.js
  package.json
  src/components/Button.tsx
  src/pages/index.tsx
  yarn.lock
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, sort-package-json

README
  README.md
  src/components/Button.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix

desinging for next chapter
  src/components/Button.tsx
  src/pages/index.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix

delete unnecesary break line
  src/pages/index.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix

docs: ✏️ license
  LICENSE
Due: none

packages updated
  package.json
  yarn.lock
Due: sort-package-json

type defintion for function
  src/components/Button.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix

test commit
  README.md
Due: none

test
  README.md
Due: none

test2
  src/pages/caluculater.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix

abcdefg
  src/pages/caluculater.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix

Revise ver
  src/pages/caluculater.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix

new homework
  src/pages/index.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix

Current situation
  src/pages/caluculater.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix

test
  .yarnrc.yml
  src/pages/caluculater.tsx
  yarn.lock
Due: eslint --cache --cache-location .next/cache/eslint/ --fix

Final
  src/pages/caluculater.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix

pacakges upsated
  package.json
  yarn.lock
Due: sort-package-json

tailwindcss@3.3
  tailwind.config.ts
Due: none

updated
  yarn.lock
Due: none

update
  package.json
  src/pages/caluculater.tsx
  yarn.lock
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, sort-package-json

paclages updated
  package.json
  yarn.lock
Due: sort-package-json

disable attribute added
  src/components/Button.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix

hoge
  README.md
Due: none
